<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div class="section admin-layout"><div class="container"><div class="admin-top"><h2>Admin Panel</h2><div class="nav-admin"><a href="/admin">Dashboard</a><a href="/admin/products">Products</a><a href="/admin/orders">Orders</a><a href="/admin/articles">Articles</a><a href="/admin/settings">Settings</a><a href="/admin/logout">Logout</a></div></div>
