<%- include('partials/head') %>
<%- include('partials/header') %>

<section class="section shop-page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h1 class="title">Shop</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <% if (products && products.length) { %>
        <% products.forEach(function(product){ %>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <%- include('partials/product-card', { product: product }) %>
          </div>
        <% }) %>
      <% } else { %>
        <div class="col-md-12">
          <div class="empty-box text-center">
            Tidak ada produk ditemukan.
          </div>
        </div>
      <% } %>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
